<div data-dojo-attach-point="containerNode">
    <h4>Suspects</h4>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Image</th>
                <th>Expression</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody data-dojo-attach-point="suspectsNode"></tbody>
    </table>
    <button class="btn btn-mini btn-success"
            data-dojo-attach-event="ondijitclick: onAdd">Add suspect</button>
</div>