<tr data-dojo-attach-point="containerNode">
    <td data-dojo-attach-point="idNode"></td>
    <td data-dojo-attach-point="methodNode"></td>
    <td data-dojo-attach-point="commentsNode"></td>
    <td data-dojo-attach-point="numNode"></td>
    <td>
        <button class="btn btn-mini" 
                data-dojo-attach-event="ondijitclick: onEdit"
                data-dojo-attach-point="editNode">edit</button>
        <button class="btn btn-mini btn-danger" 
                data-dojo-attach-event="ondijitclick: onDelete"
                data-dojo-attach-point="editNode">delete</button>
    </td>
</tr>