<tr data-dojo-attach-point="containerNode">
    <td data-dojo-attach-point="idNode"></td>
    <td data-dojo-attach-point="imageNode"></td>
    <td>
        <select data-dojo-type="Sds/Form/Select" 
                name="isPerpetrator"
                value="${isPerpetrator}"
                class="span12"
                data-dojo-props="
                focusNodeClass: 'span6'">
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
    </td>
</tr>