<div class="file-manager-item-container" data-dojo-attach-point="containerNode">
    <div data-dojo-attach-point="thumbNode" class="file-manager-item-thumb"></div>
    <div class="file-manager-actions-container" data-dojo-attach-point="actionsContainerNode">
        <button class="btn btn-danger" data-dojo-attach-point="deleteBtnNode" data-dojo-attach-event="ondijitclick:_onDelete">Delete</button>
        <div data-dojo-attach-point="messageNode" class="file-manager-item-msg"></div>
    </div>
</div>