<div data-dojo-attach-point="containerNode">
    <div class="container">
        <div data-dojo-type="Sds/Form/Toggle" 
             class="pull-left"
             data-dojo-attach-point="navNode"
             data-dojo-props="
             name: 'navNode', 
             label: '',
             options: {Lineup: 'Lineup', Suspect: 'Suspect'}, 
             value: 'Lineup'">
        </div>
        <button class="btn btn-primary pull-right" data-dojo-attach-event="ondijitclick: onDownload">Download Results</button>
    </div>
</div>